{% extends 'base.html.twig' %}

{% block title %}Structure{% endblock %}

{% block body %}
    <h1>Structure</h1>

    <table id="example" class="display" style="width:100%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ structure.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ structure.nom }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ structure.addresse }}</td>
            </tr>
            <tr>
                <th>Usercreate</th>
                <td>{{ structure.usercreate }}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{{ structure.datecreate ? structure.datecreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ structure.statut ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Userdelete</th>
                <td>{{ structure.userdelete }}</td>
            </tr>
            <tr>
                <th>Datedelete</th>
                <td>{{ structure.datedelete ? structure.datedelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Userupdate</th>
                <td>{{ structure.userupdate }}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{{ structure.dateupdate ? structure.dateupdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_structure_index') }}">back to list</a>

    <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>

    {{ include('structure/_delete_form.html.twig') }}
{% endblock %}
