{% extends 'base.html.twig' %}

{% block title %}EtatCaisse index{% endblock %}

{% block body %}
    <h1>EtatCaisse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat_caisse in etat_caisses %}
            <tr>
                <td>{{ etat_caisse.id }}</td>
                <td>{{ etat_caisse.code }}</td>
                <td>
                    <a href="{{ path('app_etat_caisse_show', {'id': etat_caisse.id}) }}">show</a>
                    <a href="{{ path('app_etat_caisse_edit', {'id': etat_caisse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etat_caisse_new') }}">Create new</a>
{% endblock %}
