{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Sku</th>
                <th>Etat</th>
                <th>Statut</th>
                <th>Usercreate</th>
                <th>Datecreate</th>
                <th>Userdelete</th>
                <th>Datedelete</th>
                <th>Userupdate</th>
                <th>Dateupdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.sku }}</td>
                <td>{{ produit.etat }}</td>
                <td>{{ produit.statut ? 'Yes' : 'No' }}</td>
                <td>{{ produit.usercreate }}</td>
                <td>{{ produit.datecreate ? produit.datecreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.userdelete }}</td>
                <td>{{ produit.datedelete ? produit.datedelete|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.userupdate }}</td>
                <td>{{ produit.dateupdate ? produit.dateupdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_no_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_no_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_no_new') }}">Create new</a>
{% endblock %}
